* {
    padding: 0px;
    margin: 0px;
}
.conteiner {
    display: flex;
    justify-content: center;
    flex: 1;
}
/*
       Criação do menu
*/
header {
    flex: 1;
    height: 94px;
    background-color: #000;
    text-transform: uppercase;
    font-size: 15px;
}
nav ul, nav li {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 25px;
    padding-bottom: 47px;
    color: #fff;
}
.menu a {
    text-decoration: none;
    color: #fff;
}
#banner-geral {
    width: 1710px;
    height: 750px;
    background-image: url(./complementos/bg.jpg);
}
.banner-tex {
    display: flex;
    justify-content: center;
}
.banner-tex h1 {
    margin-top: 246px;
    font-size: 40px;
    word-wrap: break-all;
    width: 652px;
    height: 120px;
}
.banner-tex p {
    margin-top: 246px;
    font-size: 40px;
    word-wrap: break-all;
    width: 452px;
    height: 120px;
}
.banner-desc {
    display: flex;
    justify-content: center;
}
.banner-desc button {
    width: 195px;
    height: 45px;
    text-transform: uppercase;
    background-color: rgb(178, 141, 96);
}
/*About us*/
.aboutus {
    height: 531px;
    width: 1710px;
    background-color: #fff
}
.aboutus h1{
    display: flex;
    justify-content: center;
    color: #000;
    margin-top: 61px;
    text-transform: uppercase;
}
.aboutus h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: rgb(166, 166, 166);
}
.descripit {
    display: flex;
    justify-content: center;
}
.descripit p {
    width: 639px;
    height: 151px;
    margin-top: 52px;
}
.video {
    width: 446px;
    height: 275px;
    margin-left:25px; ;
    background-color: #000;
}
